body{
background-color: violet;

}

.comentarios{
  width: 400px;
  border-radius: 30px;
}
.comentarios .comentario p{
margin: 0 0 10px 0;

}

.burbuja{
  position: relative;
  background-color: #fff;
  padding: 20px;
  color: #222;
  border-radius: 3px;
  margin-left: 20px;
}

.burbuja:after{
content:"";
display: block;
position: absolute;

top:15px;
margin-left: -35px;


width: 0;
height: 0;
border-top: 8px solid transparent;
border-bottom: 8px solid transparent;

border-right: 15px solid white;

}